.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 95%;
    padding: 10px;
}